<%- include('layouts/header.ejs') %>
<style>
  /*Contact sectiom*/
  .content-header {
    font-family: "Oleo Script", cursive;
    color: #fcc500;
    font-size: 45px;
  }

  .section-content {
    text-align: center;
  }
  #contact {
    font-family: "Teko", sans-serif;
    padding-top: 60px;
    width: 100%;
    width: 100vw;
    height: 550px;
    background: #3a6186; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #3a6186,
      #89253e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #3a6186,
      #89253e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }
  .contact-section {
    padding-top: 40px;
  }
  .contact-section .col-md-6 {
    width: 50%;
  }

  .form-line {
    border-right: 1px solid #b29999;
  }

  .form-group {
    margin-top: 10px;
  }
  label {
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
  }
  .form-control {
    font-size: 1.3em;
    color: #080808;
  }
  textarea.form-control {
    height: 135px;
    /* margin-top: px;*/
  }

  .submit {
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
  }
</style>
<br />
<br />
<br />
<div class="container">
  <section>
    <div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <div>
                <h2>CONTACT US</h2>
              </div>
              <form
                method="post"
                data-form-title="CONTACT US"
                action="https://formspree.io/chiragpipaliya454@gmail.com"
              >
                <input type="hidden" data-form-email="true" />
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    required=""
                    placeholder="Name*"
                    data-form-field="Name"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    required=""
                    placeholder="Email*"
                    data-form-field="Email"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="tel"
                    class="form-control"
                    name="phone"
                    placeholder="Phone"
                    data-form-field="Phone"
                  />
                </div>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    name="message"
                    placeholder="Message"
                    rows="7"
                    data-form-field="Message"
                  ></textarea>
                </div>
                <div>
                  <button type="submit" class="btn btn-lg btn-danger">
                    CONTACT US
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('layouts/footer.ejs') %>
